*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: slategrey;
  font-family:sans-serif;
  font-size: 10px;
  font-family: "SF Pro Text";
}
.imagebox {
  padding-top: 50px;
  width: 100%;
  background-color: black;
}
.divider {
  height: 7px;
  background-color: #FFCD00;
}
section {
  background-color: #B0B0B3; /* bus lineup background */
}
li {
  display: block;
  border-top: solid 1px #BDBDBD; /* line between buses */
  height: 50px;
}
.numberCircle {
    border-radius: 7px;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 35PX;
    padding: 1px;
    position: relative;
    top: 8px;
    right:2px;
    background: #fff;
    border: 1px solid #FFCD00;
    color: #666;
    font-family: "SF Pro Text";
    font-size: 14px;
    font-weight: bold;
}
.arriving { color: #ED0404; font-weight: 600; }
.busline {
  padding-left: 12px;
  width:90%;
  float: left;
  display: inline-block;
  font-size:17px;
  /*font-weight: 600;*/
  line-height: 35px;
  font-family: "SF Pro Text";
  font-style: normal;
  color: white;
}
.every{
  font-size: 14px;
  font-family: "SF Pro Text";
}
.service {
  position: relative;
}
.service::after {
  content: attr(title);
  position: absolute;
  top: 1em;
  padding-left: 6px;
  left: 0;
  font-size: 0.7em;
  text-transform: uppercase;
  font-family: "SF Pro Text";
  color: black;
}
.arrow {
 padding-top: 10px;
 padding-right: 15px;
 height: 20px;
 float: right;
 display: inline-block;
 color: #FFCD00;
}
.container {
  margin: 0 auto;
  width: 380px;
  background-color: #0B0B0B;
}
.back{
  padding-left: 5px;
  font-family: SF Pro Text;
  font-size: 17px;
  color: #FFFFFF;
  font-family: "SF Pro Text";
}
.title{
  font-family: SF Pro Text;
  font-weight: 600;
  font-size: 17px;
  color: #FFFFFF;
  position: absolute;
  width: 173px;
  height: 22px;
  left: calc(50% - 173px/2);
  font-family: "SF Pro Text";
}
nav {
  margin: 0 auto;
  padding: 15px 15px 15px 15px;
  position: fixed;
  width:380px;
  border: 5px solid #0B0B0B;
  float: left;
  background-color: #0B0B0B;
}
div {
  width: 100%;
}
